# Set this to the hostname that you intend to run the service at
HOSTNAME='feed.example.com'

# Set this to the URL of your custom API server if you have one.
# To make one follow this process: https://github.com/toluooshy/Bluesky-GCP-PDS
CUSTOM_API_URL='https://princetonhci.social/api/'

# Set this to be a secure API key for what the apis here expect.
API_KEY='your-api-key-here'

# (Optional). Set this to true to enable debug logs
# SHOW_DEBUG_LOGS=true

# (Optional). Ignore reply posts
#IGNORE_REPLY_POSTS='true'

# (Optional). Ignore posts with a created_at timestamp older than 1 day
# to avoid including archived posts from X/Twitter
#IGNORE_OLD_POSTS='true'
